<header class="navbar">

  <div class="container nav">


   <a href="#home" class="logo">

  <span class="short-logo">
    ADM://
  </span>

  <span class="full-logo">
    AdolfMacro_
  </span>

</a>

    <nav>

      <a href="#about">
        About
      </a>


      <a href="#projects">
        Projects
      </a>


      <a href="#contact">
        Contact
      </a>


      <a
        href="https://github.com/AdolfMacro"
        target="_blank"
      >
        GitHub
      </a>
    </nav>


  </div>

</header>